.projectBtn {
  //https://caferati.me/demo/react-awesome-button/morty-theme
  --button-default-height: 48px;
  --button-default-font-size: 14px;
  --button-default-border-radius: 6px;
  --button-horizontal-padding: 20px;
  --button-raise-level: 5px;
  --button-hover-pressure: 2;
  --transform-speed: 0.31s;
  --button-primary-color: #1c3b6d;
  --button-primary-color-dark: #2a3143;
  --button-primary-color-light: rgba(100, 255, 218, 255);
  --button-primary-color-hover: #456aa5;
  --button-primary-border: 1px solid #64ffda;
}
